body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Side bar */

#side-bar {
    grid-row: 1 / 4;
    grid-column: 1;
    background-color: #1992d4;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
}

#side-bar div {
    gap: 1rem;
}

#side-bar h1 {
    margin: 0;
}

#relevant-links {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#support-links {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

/* Nav search */

#nav-search {
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
}

.notes-avi-user {
    display: flex;
    align-items: center;
}

#submit-search {
    display: none;
}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-wrapper svg {
    flex: 0 0 1rem;
}

#search-form {
    display: flex;
}

#search-bar {
    flex: 75% 1 0;
    background-color: #e2e8f0;
    border-radius: 12px;
    width: 50%;
    border: none;
    padding: 0.5rem;
}

input#search-bar:focus {
    outline: 2px solid #1992d4;
}

/* Tool bar */

#tool-bar {
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
}

#welcome-message {
    display: flex;
    gap: 1rem;
}

img {
    width: 3rem;
    align-self: center;
}

#actions {
    align-self: center;
}

/* Main grid */

#main-grid {
    grid-column: 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    background-color: #e2e8f0;
    box-shadow: inset 0 5px 7px -5px #00000075;
    gap: 2rem;
    padding: 1rem;
}

main p {
    color: grey;
}

#projects-pane {
    grid-column: 1;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.project, #announcements, #trending {
    background-color: white;
    box-shadow: 4px 4px 5px 0px #00000029;
    border-radius: 8px;
    padding: 1rem;
}

.project {
    border-left: outset 8px #f0b429;
}

#announcements-and-trending p{
    font-size: small;
}

#announcements {
    grid-column: 2 / 3;
}

#trending {
    grid-column: 2 / 3;
}

.trends p {
    margin: 0
}