body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
}

/* Side bar */

#side-bar {
    grid-row: 1 / 4;
    grid-column: 1;
    background-color: #1992d4;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    font-weight: bold;
}

#side-bar div {
    gap: 1rem;
}

#side-bar h1 {
    margin: 0;
}

#relevant-links {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#support-links {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

/* Header */

header {
    padding: 0rem 1rem;
}

h2 {
    font-weight: 400;
}

/* Nav search */

#nav-search {
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
}

.notes-avi-user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.notes-avi-user button {
    width: 2.5rem;
    border: none;
    background: none;
}

#avatar {
    flex: 0 0 2.5rem;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

#submit-search {
    display: none;
}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-wrapper svg {
    flex: 0 0 1rem;
}

#search-form {
    display: flex;
    width: 75%;
}

#search-bar {
    flex: 75% 1 0;
    background-color: #e2e8f0;
    border-radius: 16px;
    width: 50%;
    border: none;
    padding: 0.5rem;
}

input#search-bar:focus {
    outline: 2px solid #1992d4;
}

/* Tool bar */

#tool-bar {
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
    font-weight: bold;
}

#welcome-message {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#welcome-message svg {
    flex: 0 0 2.5rem;
}

#hi-there {
    margin: 0;
}

#name {
    font-size: large;
    margin: 0.25rem 0px 0px 0px;
}

img {
    width: 3rem;
    align-self: center;
}

#actions {
    display: flex;
    align-self: center;
    gap: 2rem;
}

.action-button {
    padding: 0.5rem 2rem;
    background-color: #1992d4;
    border-radius: 16px;
    border-style: none;
    color: white;
    font-weight: bold;
}

/* Main grid */

#main-grid {
    grid-column: 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    background-color: #e2e8f0;
    box-shadow: inset 0 5px 7px -5px #00000075;
    gap: 2rem;
    padding: 1rem;
}

main p {
    color: grey;
}

#projects-pane {
    grid-column: 1;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.project, #announcements, #trending {
    background-color: white;
    box-shadow: 4px 4px 5px 0px #00000029;
    border-radius: 8px;
    padding: 1rem;
}

.project {
    border-left: outset 8px #f0b429;
}

#announcements-and-trending p{
    font-size: small;
}

#announcements {
    grid-column: 2 / 3;
}

#trending {
    grid-column: 2 / 3;
}

.trends p {
    margin: 0
}